# specfics
resources
rrlb-functions.ggb
code

# ide config files
.vscode
.idea

# python stuff
venv*
*.pyc
__pycache__
*.egg-info
*.egg

# acados stuff
c_generated_code
*.json
**/*_gen_code_*
overleaf
