# specfics
resources
additional_figures/rrlb-functions.ggb
code
*.npy
*.csv
*.png
*.eps

# ide config files
.vscode
.idea

# python stuff
venv*
*.pyc
__pycache__
*.egg-info
*.egg

# acados stuff
c_generated_code
*.json
**/*_gen_code_*
overleaf
